<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GloryBot</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<body>
    <table id="wrapper" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="2" class="DragBar">
                <div class="Logo-Small"></div>
                <div class="title">TrovoDash - @ViewData["Title"]</div>
                <div class="Buttons">
                    <ul class="ButtonNav">
                        <li class="titlebar-button" id="MinButton">-</li>
                        <li class="titlebar-button" id="CloseButton">X</li>
                    </ul>
                </div>

            </td>
        </tr>
        <tr>
            <td class="menu" width="220" valign="top" align="left">
                <div class="Logo">
                </div>
                <div style="z-index: 50000;" class="list-group dropright">
                    @foreach (var button in GetMenu())
                    {
                        @if (button.SubMenus != null)
                        {
                            @if (button.Enabled)
                            {
                                <button type="button" class="btn-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@button.Name</button>
                                <div style="z-index: 50000;" class="dropdown-menu">
                                    @foreach (var submenu in button.SubMenus)
                                    {
                                        @if (submenu.Enabled)
                                        {
                                            <a href="@submenu.Url" class="dropdown-item">@submenu.Name</a>
                                        }
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            if (button.Enabled)
                            {
                                <button type="button" class="btn-menu" onclick="window.location = '@button.Url';">@button.Name</button>
                            }
                        }
                    }
                </div>

                <button class="btnSettings" onclick="window.location = '/settings/index'">@Translate("layout.settings")</button>
            </td>
            <td class="content" valign="top" align="left">@RenderBody()</td>
        </tr>
    </table>

    <script>
        
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"  onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="~/js/plugin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
